<h2>Your Phone Number</h2>
<p><%= current_user.phone.number %> <%= button_to "Change", phone_path, :method => :delete %></p>
<% if ! current_user.phone.verified? %>
  <%= form_tag(verify_phone_path, :method => :put) do %>
    <%= label_tag(:verification_code, "Verification Code:") %>
    <%= text_field_tag(:verification_code) %>
    <%= submit_tag("Verify!") %>
  <% end %>
<% end %>
