<div>Your Phone Number:</div>
<div align='center'><h3><%= current_user.phone.number %></h3></div>
<%= button_to "Change", phone_path, :method => :delete %>
<% if ! current_user.phone.verified? %>
  <%= form_tag(verify_phone_path, :method => :get, 'data-inline' => 'true') do %>
    <%= label_tag(:code, "Verification Code:") %>
    <%= text_field_tag(:code) %>
    <div data-role="controlgroup" data-type="horizontal" align="right">
      <%= link_to("Resend", resend_code_phone_path, 'data-role' => 'button') %>
      <%= submit_tag("Verify Me!", 'data-theme' => 'b') %>
    </div>
  <% end %>
  <script>
    $('input#resend_code').click(
      function(){
        var frm = $('input#resend_code')[0].form;
        form.action = "<%= resend_code_phone_path %>";
        form.method = "POST";
        form.submit();
        return true;
      }
    );
  </script>
<% end %>
