<% title "NodeNock" %>

<div id="user_info">
  <% if current_user %>
    Welcome, <%= current_user.name %>!
  <% end %>

<a rel="external" href="tel:<%= ENV['NODENOCK_PHONE']%>" data-icon="phone" data-role="button" data-theme="b">Call Now!</a>

  <% if current_user %>
    <% if current_user.phone.nil? %>
      <%= render :partial => "phones/edit" %>
    <% else %>
      <%= render :partial => "phones/show" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in with Foursquare", "/auth/foursquare", 'data-role' => 'button', 'data-icon' => 'foursquare', 'rel' => 'external' %>
  <% end %>
</div>

