<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "NodeNock" %></title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/images/nodenock-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/nodenock-icon-114x114.png" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script>
      $(document).bind("mobileinit", function(){
        $.mobile.ajaxFormsEnabled = false;
        $.mobile.ajaxLinksEnabled = false;
        setTimeout(
          function(){
            $('div#flash').slideUp();
          },
        5000);
      });
    </script>
    <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
    <%= csrf_meta_tag %>
    <style>
      .ui-icon-phone { background: url('/images/phone_icon.png'); }
      .ui-icon-foursquare { background: url('/images/foursquare_icon.png'); }
      div#logo { margin: 0 auto; margin-bottom: 10px; width: 70%; }
      div#logo img { width: 100%; }
    </style>
   <%= yield(:head) %>
  </head>
  <body>
    <div data-role="page" data-theme="a">
      <div data-role="header">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <% if current_user %>
          <%= link_to "Sign Out", signout_path, 'data-role' => 'button', "class" => "ui-btn-right", 'data-icon' => 'delete', 'rel' => 'external' %>
        <% end %>
      </div><!-- /header -->

      <% if ! flash.empty? %>
        <div id='flash' class='ui-bar ui-bar-c'>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        </div>
      <% end %>

      <div data-role="content"> 
        <div id="logo">
          <img src="/images/nodenock-logo.svg"/>
        </div>
        <%= yield %>
      </div><!-- /content -->

      <div data-role="footer">
        <!-- PUT A FOOTER HERE? -->
      </div><!-- /footer -->
    </div><!-- /page -->
  </body>
</html>
